
<div class="grid-container">
  <div  class="grid-cell" *ngFor="let person of personList" [ngClass]="{'emergency':person.status=='emergency', finished: person.status =='finished', 'waiting': person.status == 'waiting', 'out': person.status == 'out'}" routerLink="/person/{{person.id}}">
    <h2>{{person.id}}</h2></div>
  </div>
<div class='page-links'>
<button routerLink='/update'> Update Someone's Status
</button>
</div>
<label>Legend:</label>
<div class='legend'>

<div class='working'><span>Still Working</span></div>
<div class="waiting"><span>Waiting for Assignment</span></div>
<div class="finished"><span>Finished Working</span></div>
<div class="out"><span>Did not work today</span></div>
<div class="emergency"><span>Needs Immediate Assistance!</span></div>
</div>
