.grid-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  border-bottom: 1px #243816 solid;
  border-right: 1px #243816 solid;
  background: #243816;
}
h2 {
 height: 90%;
 margin: 0;
 padding: 5px;
}
.grid-cell{
  border-top: 1px #243816 solid;
  border-left: 1px #243816 solid;
  text-align: center;
 align-content: center;
   height: 40px;
  background: linear-gradient(to left, #abbaab, #ffffff);
  color: black;
}
.emergency{
  background: linear-gradient(to bottom right, #FF0896, #AC0069);
}
.waiting{
  background: linear-gradient(to bottom right, #fceabb, #f8b500);
}
.finished{
  background: linear-gradient(to bottom right, #3F5E02, #243816);
}
.out {
  background:  #243816;
}
